
<div class="jumbotron">
    <div class="container">
        <h1>Microsoft AI Day</h1>
        <p>Learn about Microsoft AI Services</p>
        <p class="hidden-xs">Get hands on experience with Cognitive Services, Bot Services, Machine Learning Services and Azure</p>
        <p class="hidden-xs">Get excited and inspired</p>
    </div>
</div>