
<div class="jumbotron">
    <div class="container">
        <h1>Microsoft AI Day</h1>
        <p>Learn about Microsoft AI Services</p>
        <p class="hidden-xs">Get hands on experience with Cognitive Services, Bot Services, Machine Learning Services and Azure</p>
        <p class="hidden-xs">Get excited and inspired</p>
    </div>
</div>

<section id="Intro">
    <div class="container-fluid sequence-background-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>What is the Microsoft AI Day?</h2>
                    <p>AI is a key topic right now and Microsoft are one of the key players with Cognitive APIs, Bots, Machine Learning and Deep Neural Network software.</p>
                    <p>In this workshop, Microsoft experts will take you through the full Microsoft’s AI platform. This workshop is aimed at regular developers who are keen to learn how they can use Microsoft AI services to create amazing applications.</p>
                    <p>The day will be split into several sessions which comprise part presentation and part lab so bring your laptop to fully take part (see <a href="#BeforeYouArrive">Before you arrive</a> to make sure your laptop is setup ahead of the day).</p>
                    <p>At the end of this workshop, you’ll have working knowledge and your own set of samples for how to build Microsoft AI services into your applications.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="WhereWhen">
    <div class="container-fluid sequence-background-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Where & When</h2>
                    <p>The AI Services Day is happening several times in 2018 in specific locations and for specific groups.</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Date</td>
                                <td>Location</td>
                                <td>Audience</td>
                                <td>Register</td>
                            </tr>
                        </thead>
                        <tr>
                            <td>10th April</td>
                            <td>Dublin</td>
                            <td>By invitation only</td>
                            <td>
                                <a href="https://www.microsoftevents.com/profile/form/index.cfm?PKformID=0x3715850abcd" class="btn btn-default btn-default">Register Now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>16th April</td>
                            <td>London</td>
                            <td>Start-ups</td>
                            <td>
                                <a href="https://www.microsoftevents.com/profile/form/index.cfm?PKformID=0x3685336abcd" class="btn btn-default btn-default">Register Now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>15th May</td>
                            <td>London</td>
                            <td>ISVs</td>
                            <td>Coming soon</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Agenda">
    <div class="container-fluid sequence-background-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Agenda</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Time</td>
                                <td>Session</td>
                                <td>Speaker</td>
                            </tr>
                        </thead>
                        <tr>
                            <td>08:30 (30)</td>
                            <td>Registration & refreshments</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>09:00 (45)</td>
                            <td>The Microsoft AI Platform</td>
                            <td><a href="http://martink.me">Martin Kearn</a></td>
                        </tr>
                        <tr>
                            <td>09:45 (45)</td>
                            <td>Computer Vision Services</td>
                            <td><a href="https://twitter.com/frances_tibble">Frances Tibble</a></td>
                        </tr>
                        <tr>
                            <td>10:30 (15)</td>
                            <td>Break</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>10:45 (60)</td>
                            <td>Bots & Conversational Apps</td>
                            <td><a href="https://twitter.com/frances_tibble">Frances Tibble</a> & <a href="https://blogs.msdn.microsoft.com/jamiedalton/">Jamie Dalton</a></td>
                        </tr>
                        <tr>
                            <td>11:45 (45)</td>
                            <td>Knowledge Services</td>
                            <td><a href="http://martink.me">Martin Kearn</a></td>
                        </tr>
                        <tr>
                            <td>12:30 (45)</td>
                            <td>Lunch</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>13:15 (45))</td>
                            <td>Language & Speech Services</td>
                            <td><a href="https://blogs.msdn.microsoft.com/jamiedalton/">Jamie Dalton</a></td>
                        </tr>
                        <tr>
                            <td>14:00 (45)</td>
                            <td>Machine Learning</td>
                            <td><a href="https://masoncusack.github.io/">Mason Cusack</a></td>
                        </tr>
                        <tr>
                            <td>14:45 (15)</td>
                            <td>Summary & Envisioning Intro</td>
                            <td><a href="http://martink.me">Martin Kearn</a></td>
                        </tr>
                        <tr>
                            <td>15:00 (15)</td>
                            <td>Break</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>15:15 (105)</td>
                            <td>Envisioning</td>
                            <td>Groups</td>
                        </tr>
                        <tr>
                            <td>17:00</td>
                            <td>Close</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="BeforeYouArrive">
    <div class="container-fluid sequence-background-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Before You Arrive</h2>
                    <p>TO DO</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Links">
    <div class="container-fluid sequence-background-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Links</h2>
                    <p>TO DO</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="Survey">
    <div class="container-fluid sequence-background-6">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Survey</h2>
                    <p>TO DO</p>
                </div>
            </div>
        </div>
    </div>
</section>