@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <div class="container">
        <h1>Microsoft AI Day</h1>
        <p>Learn about Microsoft AI Services</p>
        <p class="hidden-xs">Get hands on experience with Cognitive Services, Bot Services, Machine Learning Services and Azure</p>
        <p class="hidden-xs">Get excited and inspired</p>
    </div>
</div>

<div class="container-fluid sequence-background-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>What is the Microsoft AI Day?</h2>
                <p>AI is a key topic right now and Microsoft are one of the key players with a full range of technologies ranging from simple AI-based APIs to Bots, Machine Learning and Deep Neural Network software.</p>
                <p>In this workshop, Microsoft experts will take you through the full range of services within Microsoft’s AI platform. This workshop is aimed at regular developers (web, mobile, full stack, back end etc) who are keen to learn how they can use Cognitive Services, Bot Framework and Azure Machine Learning to create amazing applications and services.</p>
                <p>The day will be split into several sessions which comprise part presentation and part lab. The idea is that you can follow along on your own laptop and get hands-on, working experience with Microsoft’s AI services, or just sit back and watch; whichever you prefer.</p>
                <p>The labs will be focused on C# and .net (guides available in NodeJS too), but don’t worry if you don’t know those languages as the code samples are very simple and there will be people to help on the day. Many labs are about configuration so coding is kept to a minimum anyway.</p>
                <p>At the end of this workshop, you’ll have working knowledge and your own set of samples for how to build Microsoft AI services into your applications.</p>
            </div>
        </div>
    </div>
</div>

<section id="WhereWhen">
    <div class="container-fluid sequence-background-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Where & When</h2>
                    <p>The AI Services Day is happening several times in 2018 in specific locations and for specific groups.</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Date</td>
                                <td>Location</td>
                                <td>Audience</td>
                                <td>Register</td>
                            </tr>
                        </thead>
                        <tr>
                            <td>Tuesday 10th April</td>
                            <td>Microsoft Ireland, Dublin</td>
                            <td>By invitation only</td>
                            <td>
                                <a href="https://www.microsoftevents.com/profile/form/index.cfm?PKformID=0x3715850abcd&wt.mc_id=AID688018_QSG_EML_231304" class="btn btn-default btn-default">Register Now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Monday 16th April</td>
                            <td>Microsoft Reactor, London</td>
                            <td>Start-ups</td>
                            <td>Registration coming soon</td>
                        </tr>
                        <tr>
                            <td>Tuesday 15th May</td>
                            <td>Microsoft Reactor, London</td>
                            <td>ISVs</td>
                            <td>Registration coming soon</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Agenda">
    <div class="container-fluid sequence-background-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Agenda</h2>
                    <p>TO DO</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="BeforeYouArrive">
    <div class="container-fluid sequence-background-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Before You Arrive</h2>
                    <p>TO DO</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Links">
    <div class="container-fluid sequence-background-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Links</h2>
                    <p>TO DO</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="Survey">
    <div class="container-fluid sequence-background-6">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Survey</h2>
                    <p>TO DO</p>
                </div>
            </div>
        </div>
    </div>
</section>